<!DOCTYPE html>
<html>
	<head>
		<title>Logout Page</title>
		<style>
			div{
				background-color: #f2f2f2;
				padding: 20px 20px 20px 20px;
				margin: auto;
				margin-top: 60px;
				width: 400px;
				border: none;
				font-family: Arial;
				border-radius: 5px;
			}

			p{
				font-size:15px;
			}

			a{
				color:#962d00;
				text-decoration: underline;
				font-size:13px;
			}
		</style>
	</head>
	<body>
		<div>
			<p style="font-weight: bold;"> You are now logged out.<p>
			<p> You can 
				<a href="/">return to the home page</a>
				 or 
				 <a href="/login_air">log in again</a>.
			</p>
		</div>
	</body>